body {
	background-image: url("../images/pineapple.jpg");
	background-attachment: local;
	font-family: 'Poppins', sans-serif;
}


.jumbotron {
	background-color: transparent;

}

h1 {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	background-color: yellow;
}

.instructions {
	background-color: rgba(0,102,0,.7);
	color: white;
	padding: 10px;
}


#randomNumber {
	background-color: rgba(255,128,0,.7);
	color: white;
	padding: 35px 0 35px 0;
	text-align: center;
}

#fruits {
	width: 100%;
}

#fruits img {
	float: left;
	margin: 15px;
	background-color: rgba(0,102,0,.7);
	padding: 5px;
}


#number {
	padding: 10px;
	margin: 10px;
	margin-left: 0;
}

.aside {
	background-color: rgba(255,255,0,.7);
	margin: 10px;
	padding: 10px;
	float: right;
}

.score-div {
	background-color: rgba(255,255,0,.7);
	padding: 35px 0 35px 0;
}

.score-div p {
	padding-left: 5px;
}